@media only screen and (max-width: 767px) 
{
    .intro-text
    {
        padding-top: 20px;
    }

    .about h3
    {
        font-size: 20px;   
    }

    .skills h3
    {
        font-size: 20px;   
    }

    .projects h3
    {
        font-size: 20px;   
    }

    .project-card-title {
        font-size: 18px;
    }

    .project-card-subtitle {
        font-size: 15px;
    }

    .project-card-link {
        font-size: 14px !important;
    }

    footer {
        margin-top: 30px !important;
    }
}

@media only screen and (max-width: 426px)
{
    .projects p
    {
        font-size: 10px;
    }
    
    .projects h4
    {
        font-size: 14px;
    }

    /* .projects a
    {
        font-size: 16px;
    } */

    .project-card-title {
        font-size: 17px;
    }

    .project-card-subtitle {
        font-size: 14px;
    }

    .project-card-link {
        font-size: 13px !important;
    }
}

@media only screen and (max-width: 376px)
{
    .anchor
    {
        font-size: 14px;
    }

    .intro-text h6
    {
        font-size: 10px;
    }
    
    .intro-text h3
    {
        font-size: 20px;
    }

    .intro-text h4
    {
        font-size: 12px;
    }

    .intro-text p
    {
        font-size: 13px;
    }
}


@media only screen and (max-width: 341px)
{
    .projects h3
    {
        font-size: 16px;
    }
}

@media only screen and (max-width: 324px)
{
    .anchor
    {
        font-size: 11px;
    }

    .intro-text h6
    {
        font-size: 9px;
    }

    .intro-text h3
    {
        font-size: 15px;
    }

    .intro-text h4
    {
        font-size: 10px;
    }

    .about h3
    {
        font-size: 17px;   
    }
    .skills h3
    {
        font-size: 17px;   
    }
}

@media only screen and (max-width: 300px)
{
    .about
    {
        font-size: 15px;
    }

    .projects h3
    {
        font-size: 13px;
    }

    .projects p
    {
        font-size: 9px;
    }
}