*
{
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
}

.home {
    border-radius: 17px !important;
    
}

.head {
    color: #d5d4d4;
}

.intro-text h6
{
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 2.1px;
}

.intro-text h3 
{
    font-size: calc(35px+1vw);
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
}

.intro-text h4 
{
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
    line-height:1.5;
}

.intro-text p 
{
    font-family: "Roboto", sans-serif;
    color: #b9b7b7;
}

.basic-info
{
    padding-left: 0px;
}

.basic-icn
{
    height: 35px;
    margin-right: 5px;
}

.anchor
{
    text-decoration: none;
    color: #b3afaf;
}

.anchor:hover
{
    color: rgb(154, 153, 147);
}

.social-icn
{
    margin-right: 20px;
}

.about h3 
{
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    line-height: 2.3;
}

.about p 
{
    font-family: "Roboto", sans-serif;
    color: #b9b7b7;
}

.skills h3 
{
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    line-height: 2.3;
}

.skill-icn
{
    color: #b9b7b7;
    margin-right: 20px;
    margin-top: 20px;
}

.projects {
    border-radius: 17px !important;
}

.projects h3
{
    font-family: "Roboto", sans-serif;
    font-size: 25px;
}

.projects p
{
    color: #b9b7b7;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    text-align:center;
}

.projects h4
{
    color: #b9b7b7;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.logo {
    width: 80px;
}

.project-card {
    border-radius: 15px;
    border-style: solid;
    border-color: #b9b7b7;
    margin-top: 40px;
}

.project-card:hover {
    border-color: rgb(158, 58, 58);
}

.project-card-title {
    font-size: 22px;
}

.project-card-subtitle {
    font-size: 18px;
}

.project-card-link {
    font-size: 16px;
    text-decoration: none;
    color: rgb(158, 58, 58);
}

.project-card-link:hover {
    color:rgb(222, 84, 84);
}